body {
    background-color: #161618 !important;
}

.card {
    border-width: 2px !important;
    transition: .2s;
}

.card:hover {
    border-color: #008fff !important;
    transition: .2s;
}

a:hover {
    color: #ee4d2e !important;
    text-decoration: none !important;
    transition: .2s;
}

#codebergLink {
    width: 100%;
    max-width: 200px;
}

